/* google font link */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Teko:wght@300..700&display=swap');


* {
    font-family: "PT Sans Narrow", sans-serif;
}

.bg_blur_section{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

.form_banner{
    width: 65%;
}

.login_form{
    width: 35%;
}

@media screen and (max-width:1024px) {
    .login_form{
        width: 100%;
    }
}

.hide_login_form{
    display: none;
}

.show_login_form{
    display: flex !important;
}

.hide_log_account{
    display: none !important;
}

.show_pass{
    display: block !important;
}

.hide_pass_icon{
    display: none !important;
}