/* google font link */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
  font-family: "PT Sans Narrow", sans-serif;
}

.menu_slider{
  left: -100%;
  transition: all .3s;
}

.open_menu_active{
  left: 0% !important;
}

/* show all nav on mobile menu */

.mob_all_nav_show{
  transition: all .3s;
  max-height: 0px;
  overflow: hidden;
}

.all_nav_show_hide{
  max-height: 500px !important;
}

.show_all_menu_icon{
  transition: all .3s;
}

.show_all_menu_active{
  transform: rotate(180deg);
}

.mob_nav_container{
  overflow: auto;
  
  /* background-color: red; */
}

.mob_nav_container_active{
  height: calc(100vh - 172px);
}

.brand_logo{
  max-width: 200%;
    
    /* overflow-x: auto; */
}

.brand_logo::-webkit-scrollbar{
  display: none;
}


/* aside section */

.product_section_container aside .aside_content{
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
}

.aside_content{
    height: calc(100vh - 40px);
}

.mob_filter_sort_container{
  box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
}

.sort_option{
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
}

.products_items_container .product{
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
}

.products_items_container .product img{
    object-fit: contain;
    /* width: 200px;
    height: 200px; */
}

.filter_container{
    height: calc(100vh - 144.67px);
}

.filter_container::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .filter_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(208, 208, 208); 
    border-radius: 10px;
  }
   
  /* Handle */
  .filter_container::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224); 
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Handle on hover */
  .filter_container::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8; 
  }

.progress_pointer{
    left: 100%;
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
}