/* aside section */

.product_section_container aside .aside_content{
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
}

.aside_content{
    height: calc(100vh - 40px);
}

.sort_option{
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
}

.products_items_container .product{
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
}

.products_items_container .product img{
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.filter_container{
    height: calc(100vh - 144.67px);
}

.filter_container::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .filter_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(208, 208, 208); 
    border-radius: 10px;
  }
   
  /* Handle */
  .filter_container::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224); 
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Handle on hover */
  .filter_container::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8; 
  }

.progress_pointer{
    left: 100%;
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
}