/* google font link */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Teko:wght@300..700&display=swap');


* {
    font-family: "PT Sans Narrow", sans-serif;
}

/* search option */

.cart_shadow {
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
}

.animate-btn-color {
    transition: all .5s;
}

.animate-btn-color:hover {
    background-color: white;
    color: rgb(59, 130, 246);
    border: 1px solid rgb(59, 130, 246);
}